.container-keys {
  overflow: hidden;
  height: max-content;
  border-radius: 0 0 10px 10px;
  background: #222;
}

.list-keys{
  display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-columns: 100px;
  gap: 10px;
  background: #222;
  margin-bottom: 10px;
  padding: 0 20px 10px;
}

.list-keys li {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  background: #666;
  color: #eee;
  font-size: 1.1rem;
  border-radius: 4px;
}

.list-keys li:hover {
  background: #333;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
}