.operations {
  display: grid;
  justify-items: end;
  width: 100%;
  height: 80px;
  padding: 10px;
  border: 1px solid #eee;
  border-radius: 6px;
  box-sizing: border-box;
}

.operations span {
  display: block;
  color: #eee;
}

.operators.opera-col {
  grid-column: 4;
}

.toExecute.opera-col {
  background: #8ab4f8;
}