.container-screen {
  display: grid;
  align-items: end;
  width: 600px;
  height: max-content;
  background: #222;
  padding: 20px;
  border-radius: 10px 10px 0 0;
  box-sizing: border-box;
}

.selected {
  font-size: 1rem;
  margin-bottom: 5px;
}

.selected.active {
  align-self: end;
  font-size: 2rem;
}

.result {
  display: none;
}

.result.active {
  display: block;
  font-size: 1.8rem;
}
